# dependencies
/node_modules
package-lock.json
pnpm-lock.yaml

# build output
/dist
/build

# environment
.env
.env.local
.env.production

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.vercel
.env*.local
